# Trigger pipeline when changes are pushed to main
trigger:
  branches:
    include:
      - main

# Use Ubuntu build agent
pool:
  vmImage: 'ubuntu-latest'

# Load secrets from Azure DevOps variable group
variables:
  - group: DevPulse-Frontend-Secrets

steps:
  # Install Node.js 20.19+ (required by Angular 20)
  - task: NodeTool@0
    inputs:
      versionSpec: '20.19.x'
      checkLatest: true
    displayName: 'Install Node.js'

  # Show installed Node and npm versions
  - script: |
      node -v
      npm -v
    displayName: 'Check Node.js version'

  # Install frontend dependencies using npm install
  - script: |
      cd frontend/devpulse-ui
      npm install
    displayName: 'Install dependencies'

  # Inject runtime config into env.js
  - script: |
      cd frontend/devpulse-ui
      echo "window.__env = {" > src/assets/env.js
      echo "  NG_APP_APIM_SUBSCRIPTION_KEY: '$(NG_APP_APIM_SUBSCRIPTION_KEY)'," >> src/assets/env.js
      echo "};" >> src/assets/env.js
    displayName: 'Inject config into env.js'

  # Build Angular app (production mode)
  - script: |
      cd frontend/devpulse-ui
      npm run build -- --configuration=production
    displayName: 'Build Angular app'

  # Deploy to Azure Static Web Apps
  - task: AzureStaticWebApp@0
    inputs:
      app_location: 'frontend/devpulse-ui/dist/devpulse-ui/browser'             # where angular project souce folder
      output_location: ''                               # where build files available Relative to project source folder
      skip_app_build: true                                              # Skip Oryx build and use CI/CD pipeline generated build
      skip_api_build: true                                              # Skip API build (if no backend here)
      azure_static_web_apps_api_token: $(deployment_token)
    displayName: 'Deploy to Azure Static Web Apps'