@use "styles/mat-snackbar-overrides";
@use "styles/mat-table-overrides";

@use "styles/forms";
@use "styles/buttons";

@use "styles/mat-dialog-overrides.scss";

@use "styles/spinner.scss";

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.azure-divider {
  border-bottom: 1px solid #e5e5e5;
  margin: 24px 0;
}
